html, body {
    min-height: 100%;
}

body {
    background: linear-gradient(to bottom, #AAA694 0px, #AAA694 80px, #D1D0A3 80px, #D1D0A3 100%) no-repeat;
}

.pagemargin {
    width: 1020px;
    margin: auto;
}

p {
    font-family: Helvetica;
    color: #7C6C77;
}

h1 {
    font-family: Helvetica;
}

h1 a {
    text-decoration: none;
    color: black;
}

.navbar {
    float: right;
    padding: 8px;
}

th a {
    font-family: Helvetica;
    text-decoration: none;
    color: black;
    border-right: 1px solid #000000;
    padding-right: 10px;
    padding-left: 10px;
}

th.navcol a {
    border-left: 1px solid black;
}

.cabad {
    width: 313px;
    height: 322px;
    float: left;
    margin-right: 20px;
}

#header1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

#header2 {
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
    line-height: 5px;
}

#paragraph1 {
    font-size: 24px;
}

#paragraph2 {
    font-size: 22px;
}

.checkmark1 {
    width: 47px;
    margin-top: 5px;
    margin-right: 15px;
    float: left;
    display: inline-block;
}

.checkmark2 {
    width: 47px;
    margin-top: 5px;
    margin-right: 15px;
    display: inline-block;
}

.checkmark3 {
    width: 47px;
    margin-top: 5px;
    margin-right: 15px;
    display: inline-block;
}

.checktext1 {
    font-size: 24px;
    display: inline-block;
    margin-right: 125px;
}

.checktext2 {
    font-size: 24px;
    display: inline-block;
    margin-right: 125px;
}

.checktext3 {
    font-size: 24px;
    display: inline-block;
}

#blindmachine {
    width: 310px;
    height: 233px;
    float: right;
    display: inline-block;
    padding-top: 25px;
    padding-left: 10px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}